
$white: #E5E4E4;
$grey: #4B4B4B;
$darkGrey: #252525;
$black: #000;
$accent: #370414;

$color__background-body: #000;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $white;
$color__link-visited: $white;
$color__link-hover: $grey;
$color__text-main: $white;

$color__border-button: $white;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;